**/target
Cargo.lock
.vscode/settings.json

# exclude `insta` snapshot new files
*.snap.new

# we use this while iterating
ast-dump.json
foo/structgen
/foo/structgen_out.json
*.a
/codegen/structgen
/codegen/structgen.pdb
/codegen/structgen.ilk
*.gch
*.exe
*.dll
*.lib
*.so
*.bin
/codegen/physx_generated.hpp
/codegen/structgen.cpp
/codegen/structgen_out.hpp
/codegen/structgen_out.json
